/*-- outher Style --*/

@media (min-width:768px) {
  .flex {
    display:flex;
    align-items: center;
  }
}

main {
  background:#222;
  border:none;
  color:#fff;
}

main a {
  color:#AD0402;
}

.panel {
  background:transparent;
  border:none;
}

.text-align {
  text-align:center;
}

.padding {
  padding:50px 0px;
}

.container {
  margin-top:0px;
}

.gaming {
  background:transparent;
  border:none;
}

.btn-1 {
  background: -webkit-linear-gradient(#E30704 0%, #AD0402 100%);
  background: -moz-linear-gradient(#E30704 0%, #AD0402 100%);
  background: -o-linear-gradient(#E30704 0%, #AD0402 100%);
  background: -ms-linear-gradient(#E30704 0%, #AD0402 100%);
  background: linear-gradient( #E30704 0%, #AD0402 100%);
  border-color:transparent;
  border-bottom: 1px solid #D81602;
  color:#fff;
}

.btn-2 {
  background:#222;
  color:#fff;
  border-color:#222;
}

.btn-1:hover, .btn-2:hover {
  background:transparent;
  border-color:#222;
  color:#fff;
}

main .btn {
  background:transparent;
  text-decoration: none;
  color:#fff;
  border-color:#111;
}

main .btn:hover {
  background:#AD0402;
  border-color:#111;
  color:#ffff;
  text-decoration: none;
}

/*-- Navigation --*/


.NeueKlasse {
   border:0px;
}
.NeueUlKlasse {
    background:#fff !important;
}
.NeueUlKlasse>li>ul>li {
    padding: 5px 15px !important;
}
.NeueUlKlasse>li>ul>li:hover {
    background:#f5f5f5;
}
.NeueUlKlasse>li>ul>li>a {
    color:#1b1b1b;
}
.NeueUlKlasse>li>ul>li>a:hover {
    text-decoration:none;
}

#navigation {
  width:100%;
  display:block;
  z-index:1050;
  border-bottom:1px solid #333;
}

.user-active {
  background:#D81602;
}

.user-active a {
  color:#fff
}

.ilch--new-message-icon a.text-danger{
  color:#fff;
}

/*-- Header Slider --*/

#carousel-generic {
  margin-top:51px;
  height:50vh;
}

@media (min-width:768px) {
  #carousel-generic {
    margin-top:0px !important;
  }
  header .navbar {
    margin:0;
  }
}
.item {
  height:50vh;
}

.navbar .panel-gaming>.panel-heading {
  background:#080808 !important;
  color:#fff;
}

.panel-gaming > .panel-body li {
  border-color:#111;
}

.panel-gaming > .panel-body li a {
  color:#fff;
}

.navbar-brand-m {
  padding:10px;
  text-align:center;
}

.carousel-caption h1 {
  color:#fff;
  font-size:38px;
  border-bottom:0px;
}

.carousel-caption {
  top:200px;
}

.carousel-indicators li {
  width:50px;
  height:5px;
  background:#222;
  border-color:transparent;
}

.carousel-indicators .active {
  width:50px;
  height:5px;
  background:#D81602;
  border-color:transparent;
}

.header-m {
  height:40vh;
  background:url(img/slider/slider_1.jpg);
  background-size:cover;
  background-position:top center;
  overflow:hidden;
}

.header-m>.carousel-caption {
  top:10vh;
  height:15vh;
}

.header-heading .breadcrumb {
  background:transparent;
  margin:0px;
  padding:0px;
}

.header-heading .breadcrumb a {
  color:#fff;
  font-size:18px;
  background:transparent;
  border:none;
}

.header-heading hr {
  background:#AD0402;
  width:50px;
  height:2px;
  border-color:transparent;
  margin:5px auto 20px auto;
}

@media (min-width:768px) {
  .header-heading .breadcrumb a {
    font-size:28px;
  }
  .header-m>.carousel-caption {
    top:15vh;
    height:15vh;
  }
}

@media (min-width:992px) {
  .header-heading .breadcrumb a {
    font-size:38px;
  }
  .header-m>.carousel-caption {
    top:20vh;
    height:15vh;
  }
}

@media (min-width:768px) {
  #carousel-generic, .item {
    height:80vh;
  }
  .carousel-caption {
    top:500px;
  }
}

.img1 {
  background:url(img/slider/slider_1.jpg);
}

.img2 {
  background:url(img/slider/slider_2.jpg);
}

.img3 {
  background:url(img/slider/slider_3.jpg);
}

.img {
  width:100%;
  height:80vh;
  background-size:cover;
  background-position:top center;
  background-repeat: no-repeat;
}

/*-- About Us Section --*/

.about-us {
  background:#fff;
  color:#222;
}

.about-us h1 {
  font-size:28px;
  color:#222;
  border-bottom:0px;
}

/*-- offer-you section --*/

.what-does {
  background:#222;
  color:#fff;
}

.what-does h1 {
  font-size:28px;
  color:#fff;
  border-bottom:0px;
}

.what-does i {
  font-size:28px;
}

.what-does hr {
  width:50px;
  height:3px;
  background:#D81602;
  border-color:transparent;
  margin:10px auto 20px auto;
}

/*-- Background Section --*/

.background-1 {
  background:url(img/slider/slider_1.jpg);
}

.background {
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
  position:relative;
}

.background:before {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0, 0, 0, 0.8);
}

/*-- Teamspeak Section --*/

.teamspeak h1 {
  color:#fff;
  font-size:28px;
  border-bottom:0px;
}

.teamspeak {
  color:#fff;
}

.teamspeak img {
  width:50%;
}

/*-- News Section --*/

.news h1 {
  font-size:28px;
  color:#222;
  border-bottom:0px;
}

.news {
  background:#fff;
  color:#222;
}

.news font {
  color:#AD0402;
}

.news .article-body {
  background:#f9f9f9;
  padding:20px 0px;
  margin:20px 0px;
  border-radius:5px;
  border:1px solid transparent;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.news .article-body a {
  color:#AD0402;
}

.news .article-header i {
  color: #fff;
  font-size: 34px;
  height: 80px;
  line-height: 80px;
  margin: 15px 0 15px 15px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 111;
  transition: .3s;
}
.news .article-header i:after {
  content: "";
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  border-radius:50%;
  width: 80px;
  z-index: -9999;
  transition: .3s;
  background: #AD0402;
  clear: both;
}
.news .article-body:hover .article-header i:after {
  background:#222;
}

/*-- Chat Section --*/

.chat {
  background:#222;
  color:#fff
}

.chat h1 {
  font-size:28px;
  color:#fff;
  border-bottom:0px;
}

.chat .shoutbox-new .first span {
  border-bottom:1px solid #AD0402;
}
.chat .shoutbox-new .first img {
  width:140px;
  border:2px solid #222;
  border-radius:50%;
  margin-bottom:10px;
  overflow:hidden;
}
.chat .shoutbox-new .first a {
  color:#AD0402;
  font-size:20px;
}
.chat .shoutbox-new .secend {
  margin: 10px 0px;
}

/*-- sidebar section -- */

.sidebar {
  border-left:1px solid #111;
}

.sidebar .panel-gaming > .panel-body  a {
  color:#AD0402;
}

.sidebar .panel-gaming > .panel-heading , .ilch-head{
  background:transparent;
  color:#fff;
  border-color:transparent;
  border-bottom: 1px solid #D81602;
  background-image: -webkit-linear-gradient(bottom, #222, #333);
  background-image: -moz-linear-gradient(bottom,#222,#333);
  background-image: -o-linear-gradient(bottom, #222, #333);
  background-image: linear-gradient(to top, #222, #333)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  box-shadow: 0 1px 3px
  rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
}

/*-- forum section --*/

#forum .ilch-bg {
  background:#212121;
}

#forum .ilch-border, #forum .post, #forum .post-footer {
  border-color:#111;
}

#forum .ilch-bg--hover {
  background:transparent;
}

#forum a {
  color:#fff;
  text-decoration:underline;
}

/*-- user-panel section --*/

.profile {
  padding:10px;
}

.profile-sidebar, .profile{
  background:transparent !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45) !important;
}

.profile-content {
  background:transparent !important;
}

.profile-content .btn {
  background:#222 !important;
}

.profile-content .btn:hover {
  background:#5cb85c !important;
  border-color:transparent !important;
}

.profile-sidebar .profile-usermenu ul li a, .profile-sidebar .push-menu i {
  color:#fff !important;
}

.profile-sidebar .profile-usermenu ul li {
  border-color:#111 !important;
}

.profile-sidebar .profile-usermenu ul li:hover a {
  background:transparent !important;
  color: #5cb85c !important;
  border-left: 2px solid #5cb85c !important;
  margin-left: -2px;
  border-right: 2px solid #5cb85c !important;
  margin-right: -2px;

}

.profile-sidebar .profile-usermenu ul li.active a {
  color: #5cb85c !important;
  border-left: 2px solid #5cb85c !important;
  margin-left: -2px;
  border-right: 2px solid #5cb85c !important;
  margin-right: -2px;
}

.chat .chat-wrapper .chat-list-info, .chat .chat-wrapper .message-info {
  background:transparent;
  color:#fff;
  border-color:transparent !important;
  border-bottom: 1px solid #D81602 !important;
  background-image: -webkit-linear-gradient(bottom, #222, #333);
  background-image: -moz-linear-gradient(bottom,#222,#333);
  background-image: -o-linear-gradient(bottom, #222, #333);
  background-image: linear-gradient(to top, #222, #333)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  box-shadow: 0 1px 3px
  rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
}

.chat .chat-wrapper .chat-list-wrapper {
  border-color:transparent !important;
}

.chat .chat-wrapper .message-list-wrapper {
  border-color:transparent !important;
  border-left:1px solid #111 !important;
  border-right:1px solid #111 !important;
}

.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message {
  background:#333 !important;
  color:#fff !important;
  border-color:#111 !important;
}

.chat .chat-wrapper .message-list-wrapper .message-list li.right .body .message:after {
  border-color: transparent #111 transparent transparent !important
}

.panel-primary > .panel-heading {
  background:transparent;
  color:#fff;
  border-color:transparent;
  border-bottom: 1px solid #D81602;
  background-image: -webkit-linear-gradient(bottom, #222, #333);
  background-image: -moz-linear-gradient(bottom,#222,#333);
  background-image: -o-linear-gradient(bottom, #222, #333);
  background-image: linear-gradient(to top, #222, #333)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  box-shadow: 0 1px 3px
  rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
}

.list-group-item {
  background:transparent;
  border-color:#111;
}

.panel-footer {
  background:transparent;
  border:1px solid #111;
}

.lib-panel .row, .lib-panel .lib-row.lib-header {
  background:transparent !important;
}

.page-header {
  border-bottom:0px;
}

/*-- User-Regist section --*/

.user-regist-step .step  {
  background:transparent !important;
  color:#D81602!important;
  border-color:#111!important;
}

.user-regist-step .activestep {
  color:#5cb85c !important;
}

.panel-default > .panel-heading {
  background:transparent;
  color:#fff;
  border-color:transparent;
  border-bottom: 1px solid #D81602;
  background-image: -webkit-linear-gradient(bottom, #222, #333);
  background-image: -moz-linear-gradient(bottom,#222,#333);
  background-image: -o-linear-gradient(bottom, #222, #333);
  background-image: linear-gradient(to top, #222, #333)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
  box-shadow: 0 1px 3px
  rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
}

.panel>.panel-body>.form-horizontal>.panel-default>.panel-body {
  background:transparent !important;
  border-left:1px solid #111;
  border-right:1px solid #111;
}

/*-- Footer Section --*/

.footer {
  background:#111;
  border-top:1px solid #555;
  color:#fff;
}

.footer a {
  color:#AD0402;
}

.main-footer {
  background:#111;
  color:#fff;
  padding:0px 10px;
}

.main-footer a {
  color:#fff !important;
}

.main-footer .heading {
  color:#fff;
  padding:10px 0px;
  border-top:1px solid #222;
  border-bottom:1px solid #222;
}

.main-footer .panel-body ul li {
  border-color:#151515;
}

.main-footer [class*="col-"] {
    min-height:310px;
}

@media (min-width:768px) {
  .main-footer {
    padding:0px;
  }
}

/*-- Login Section --*/

.modal-dialog {
  margin:100px auto;
}

.login-modul>.modal-dialog > .modal-content {
  background:#222;
}

.login-modul>.modal-dialog > .modal-content> .modal-header {
  color:#FFFFFF;
  border-color:#AD0402;
}

.login-modul a {
  color:#fff;
}
